@use '@/app/styles/helpers' as *;

.sidebarWrapper {
  display: flex;

  .pageWrapper {
    margin-left: var(--sidebar-width);

    @include mobile {
      margin-left: 0;
    }
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: #764ba2;
    color: #fff;
    padding: 60px 0;
    transition:
      width 0.3s ease,
      padding 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25px;
    z-index: 101;

    @include mobile {
      display: none;
    }

    .linksTop {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    .linksBottom {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}

.sidebar:hover {
  width: var(--sidebar-width-hover);
  padding: 60px 45px;
}
