@use '@/app/styles/helpers' as *;

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100vh;
  background: #222;
  color: #fff;
  padding: 40px 0;
  transition:
    width 0.3s ease,
    padding 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;

  .linksTop {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .linksBottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.sidebar:hover {
  width: 150px;
  padding: 40px 15px;
}
